* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    background-color: #141e49;
}
li{
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}
.navheader{
    min-height:  70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
}
.nav-link{
    transition: 0.5s ease;
}
.nav-link:hover{
    color: #ddfe08;
}
.hamburguer{
    display: none;
    cursor: pointer;
}
.h{
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out
}
@media (max-width:760px) {
    .hamburguer{
        display: block;
    }
    .hamburguer.active .h:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .h:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .h:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: 100%;
        top: 70px;
        gap: 0;
        border-radius:  0 0 20px 20px;
        background-color: #141e49;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-item{
        margin:  16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}